In [21]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
df=pd.read_csv("teleCust1000t.csv")
df.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

In [20]:
X=df[df.columns[0:11]].values 
y=df['custcat'].values
X=preprocessing.StandardScaler().fit(X).transform(X.astype(float)) #normalize features

In [23]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=3) #split into train n test sets

In [31]:
neigh=KNeighborsClassifier(n_neighbors=9).fit(X_train,y_train)
neigh.predict(X_test)

array([1, 4, 3, 3, 1, 2, 1, 2, 1, 1, 1, 4, 3, 1, 2, 3, 3, 3, 3, 2, 4, 1,
       2, 2, 1, 1, 4, 1, 2, 1, 1, 2, 4, 4, 3, 1, 2, 1, 3, 1, 1, 1, 3, 2,
       2, 2, 2, 1, 1, 4, 1, 2, 1, 1, 2, 1, 4, 3, 1, 1, 1, 1, 1, 1, 1, 2,
       2, 1, 1, 1, 4, 3, 1, 1, 3, 3, 4, 2, 3, 2, 1, 3, 3, 1, 1, 3, 3, 2,
       2, 3, 3, 4, 3, 3, 1, 1, 3, 4, 2, 1, 2, 2, 1, 2, 1, 3, 4, 1, 3, 2,
       2, 2, 2, 1, 2, 1, 1, 1, 4, 1, 4, 1, 4, 3, 3, 1, 4, 2, 1, 1, 1, 1,
       4, 1, 1, 4, 1, 4, 1, 1, 2, 1, 1, 2, 2, 4, 3, 4, 1, 2, 1, 2, 3, 3,
       3, 1, 1, 1, 3, 1, 3, 2, 2, 1, 3, 4, 1, 3, 3, 3, 1, 3, 2, 3, 1, 3,
       1, 3, 1, 2, 4, 3, 1, 1, 2, 3, 2, 1, 3, 3, 1, 1, 1, 3, 3, 2, 3, 1,
       3, 4])

In [32]:
astr=accuracy_score(y_train,neigh.predict(X_train)) #training set accuracy
ast

0.56

In [33]:
aste=accuracy_score(y_test,neigh.predict(X_test)) #test set accuracy
aste

0.345

In [59]:
k_list=[]
acc_matrix=np.zeros(10)
for i in range(1,11):
    k_list.append(i)
for i in k_list:
    neigh=KNeighborsClassifier(n_neighbors=i).fit(X_train,y_train)
    astr=accuracy_score(y_train,neigh.predict(X_train))
    aste=accuracy_score(y_test,neigh.predict(X_test))
    acc_matrix[i-1]=aste
print("Max accuracy on test set with k="+str(acc_matrix.argmax()+1))

Max accuracy on test set with k=9