In [267]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [268]:
df=pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [269]:
df=df[['Sex','Age','Embarked','Pclass','SibSp','Fare','Survived']]
df.head()

      Sex   Age Embarked  Pclass  SibSp     Fare  Survived
0    male  22.0        S       3      1   7.2500         0
1  female  38.0        C       1      1  71.2833         1
2  female  26.0        S       3      0   7.9250         1
3  female  35.0        S       1      1  53.1000         1
4    male  35.0        S       3      0   8.0500         0

In [270]:
 df['Sex'] = df['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

In [271]:
df.describe()

              Sex         Age      Pclass       SibSp        Fare    Survived
count  891.000000  714.000000  891.000000  891.000000  891.000000  891.000000
mean     0.352413   29.699118    2.308642    0.523008   32.204208    0.383838
std      0.477990   14.526497    0.836071    1.102743   49.693429    0.486592
min      0.000000    0.420000    1.000000    0.000000    0.000000    0.000000
25%      0.000000   20.125000    2.000000    0.000000    7.910400    0.000000
50%      0.000000   28.000000    3.000000    0.000000   14.454200    0.000000
75%      1.000000   38.000000    3.000000    1.000000   31.000000    1.000000
max      1.000000   80.000000    3.000000    8.000000  512.329200    1.000000

In [272]:
df['Embarked']=df['Embarked'].fillna('S')

In [273]:
df['Embarked'] = df['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
df['Age']=df['Age'].fillna(30)

In [274]:
df['Fare']=np.round(df['Fare'])
df.head()

   Sex   Age  Embarked  Pclass  SibSp  Fare  Survived
0    0  22.0         0       3      1   7.0         0
1    1  38.0         1       1      1  71.0         1
2    1  26.0         0       3      0   8.0         1
3    1  35.0         0       1      1  53.0         1
4    0  35.0         0       3      0   8.0         0

In [275]:
X=df[df.columns[0:6]]
X=preprocessing.StandardScaler().fit(X).transform(X)
y_pred=LR.predict(X)
accuracy_score(y_pred,y)

/home/susiejojo/.local/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/susiejojo/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

0.7934904601571269

In [276]:
y=np.asanyarray(df[['Survived']])

In [277]:
LR=LogisticRegression(C=0.01,solver='liblinear').fit(X,y)

/home/susiejojo/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [282]:
dft=pd.read_csv("test.csv")

In [283]:
dft_test=dft[['Sex','Age','Pclass','SibSp','Fare']]
dft_test.describe()

              Age      Pclass       SibSp        Fare
count  332.000000  418.000000  418.000000  417.000000
mean    30.272590    2.265550    0.447368   35.627188
std     14.181209    0.841838    0.896760   55.907576
min      0.170000    1.000000    0.000000    0.000000
25%     21.000000    1.000000    0.000000    7.895800
50%     27.000000    3.000000    0.000000   14.454200
75%     39.000000    3.000000    1.000000   31.500000
max     76.000000    3.000000    8.000000  512.329200

In [289]:
dft_test['Sex'] = dft_test['Sex'].map( {'female': 1, 'male': 0},na_action='ignore').astype(int)
dft_test['Embarked']=dft_test['Embarked'].fillna('S',inplace=True)
dft_test['Age']=dft_test['Age'].fillna(30,inplace=True)
dft_test['Embarked'] = dft_test['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2},na_action='ignore').astype(int)
dft_test['Fare']=np.round(dft_test['Fare'])
dft_test.head()

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
X_test=dft_test[dft_test.columns[0:6]]
X_test=preprocessing.StandardScaler().fit(X_test).transform(X_test)

In [ ]:
yhat=LR.predict(X_test)

In [ ]:
df_pred=pd.DataFrame()

In [ ]:
df_pred['PassengerId']=dft['PassengerId']
df_pred['Survived']=yhat

In [ ]:
df_pred.to_csv('newpred.csv',index=False)